<%= form_with(model: dinosaur, local: true) do |form| %>
  <% if dinosaur.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dinosaur.errors.count, "error") %> prohibited this dinosaur from being saved:</h2>

      <ul>
      <% dinosaur.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :species %>
    <%= form.text_field :species, id: :dinosaur_species %>
  </div>

  <div class="field">
    <%= form.label :health %>
    <%= form.number_field :health, id: :dinosaur_health %>
  </div>

  <div class="field">
    <%= form.label :happiness %>
    <%= form.number_field :happiness, id: :dinosaur_happiness %>
  </div>

  <div class="field">
    <%= form.label :radiating_positivity %>
    <%= form.number_field :radiating_positivity, id: :dinosaur_radiating_positivity %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
