<p id="notice"><%= notice %></p>

<h1>Dinosaurs</h1>

<table>
  <thead>
    <tr>
      <th>Species</th>
      <th>Health</th>
      <th>Happiness</th>
      <th>Radiating positivity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dinosaurs.each do |dinosaur| %>
      <tr>
        <td><%= dinosaur.species %></td>
        <td><%= dinosaur.health %></td>
        <td><%= dinosaur.happiness %></td>
        <td><%= dinosaur.radiating_positivity %></td>
        <td><%= link_to 'Show', dinosaur %></td>
        <td><%= link_to 'Edit', edit_dinosaur_path(dinosaur) %></td>
        <td><%= link_to 'Destroy', dinosaur, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dinosaur', new_dinosaur_path %>
